<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>Filler text is always the best when it is actually filled with some kind of text.</p>
        {{> footer}}
    </body>
</html>