<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>Project text goes here</p>
        {{> footer}}
    </body>
</html>